:root {
  --offWhite: #ffcaa9;
  --navy: rgb(4, 4, 78);
  --grey: rgb(53, 53, 53);
  --crimson: crimson;
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.25;
}

html {
  font-size: 110%;
}

body {
  background-color: var(--offWhite);
}

#root {
  margin: 0 auto;
  max-width: 25rem;
}

input[type="button"],
button {
  border: 2px transparent solid;
  border-radius: 1rem;
  color: var(--offWhite);
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
}

/* Styling for the header component */
header {
  text-align: start;
  margin-block-start: 2rem;
}

.potato {
  margin-right: 1rem;
}

h1 {
  font-family: "Alfa Slab One", cursive;
  color: var(--navy);
}

.subtitle {
  font-style: italic;
  color: var(--grey);
}

.potato {
  width: 5rem;
}

.flex {
  display: flex;
  align-items: center;
}

/* Styling for the generate quiz form */

.generate-form {
  /* background-color: #ffd3b7; */
  margin: 2em auto;
  /* max-width: 360px; */
  /* max-width: fit-content; */
  padding: 1.5rem;
  border: 2px var(--navy) solid;
  border-radius: 1rem;
}

.generate-form h2 {
  margin-top: 0;
}

.generate-form label {
  cursor: pointer;
  display: block;
  max-width: fit-content;
}

.generate-form input {
  margin: 0.5rem;
}

#quiz-length {
  /* display: block; */
  font-size: 100%;
  padding: 0.25rem;
  width: 4rem;
}

.form-prompt {
  font-weight: 600;
  margin: 1rem 0 0.25rem 0;
}

.generate-form button,
.back-button {
  padding: 0.75rem;
  display: block;
  font-size: 100%;
}

.generate-form button {
  background-color: var(--navy);
  margin-top: 1rem;
}
.generate-form button:hover,
.clue-card button:hover {
  background-color: var(--crimson);
}

/* Styling for the back button */

.back-button {
  background-color: var(--crimson);
  font-size: 100%;
  margin: 1rem auto;
}

.back-button:hover {
  border: 2px solid var(--navy);
}

/* Styling for the quiz itself! */

.clue-card button {
  background-color: var(--navy);
  padding: 0.5rem 0.75rem;
  width: 5rem;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 1rem;
}

.clue-card {
  border: 2px solid var(--navy);
  padding: 0.75rem;
  margin-block-end: 1rem;
  border-radius: 0.75rem;
}

.clue-card-question {
  margin-bottom: 0.5rem;
}

.clue-card-answer {
  font-weight: 600;
  margin-inline-start: 0.75rem;
  color: var(--navy);
}

.error,
.message {
  margin: 2rem;
  max-width: fit-content;
  padding: 1rem;
}

.error {
  background-color: lightsalmon;
  border: 1px solid;
  border-color: salmon;
}

.message {
  /* background-color: antiquewhite; */
  /* border-color: grey; */
}

.error h3 {
  margin-bottom: 0.5rem;
}

.error p {
  font-family: monospace;
  font-size: 1rem;
}
